{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="comment-container d-flex flex-column gap-3 align-items-center justify-content-center">
        <h3>Комментарий</h3>
        <textarea id="comment-field" rows="12" placeholder="Ваш комментарий..." class="form-control" style="resize: none;"></textarea>
        <button id="check-comment-btn" type="button" class="btn btn-primary w-75">Проверить</button>

        <div id="result-block" class="text-center mt-2"></div>
        <div id="feedback-block" class="text-center mt-2 d-none">
            <p>Верный результат?</p>
            <div class="d-flex gap-5 justify-content-center align-items-center" id="feedback-buttons-block">
                <a href="javascript:;" class="text-decoration-none" id="positive-feedback-btn">Да</a>
                <a href="javascript:;" class="text-decoration-none" id="negative-feedback-btn">Нет</a>
            </div>
            <p class="mt-2" id="feedback-progress"></p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/classifier.js' %}"></script>
{% endblock %}